@using MyBookList.Controllers

@using (Html.BeginForm("Index", "Books"))
{
    <div class="searchBar">
        @Html.TextBox("SearchString", null)
        <a href="#">
            <span class="glyphicon glyphicon-search"></span>
        </a>
    </div>
}

